body{
    background-image: url('../img/vulcao.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}
.grup{
    padding: 5px 5px 5px 5px;
    text-align: center;
}
.tab{
    border-style:solid;
    border-color: #322f57;
    border-radius: 5px;
    background-color: #454179;
    margin: 50px 150px 50px 150px;
    padding: 50px 50px 50px 50px;
    font-size: 150%;
    color: #fff;
}
input{
    padding: 1% 2% 1% 2%;
    border-style:solid;
    border-color: #322f57;
    border-radius: 5px;
    background-color: #454179;
    color: #fff;
}
a{
    color: #fff;
}